body {
    background: darkblue;
    display: flex;
    justify-content: center;
}


    .block {
        margin-top: 82px;
        position: static;
        background: #ffffff;
        color: #787878;
        font-size: 50px;
        width: 600px;
        height: 412px;
        top: 82px;
        left: 412px;
        border-radius: 20px;
        text-align: center;
    }
    .block__name {
        margin-top: 20px;

    }
    .block__form_input {
        font-size: 20px;
        position: relative;
        width: 509px;
        height: 49px;
        top:20px;
        right: 20px;
        background: #ffffff;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;

    }

    .block__form_input_2 {
        font-size: 20px;
        position: relative;
        width: 509px;
        height: 49px;
        top:40px;
        right: 25px;
        background: #ffffff;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .block__form_input::placeholder {
        color: #ccc;
    }

    .block__form_input_2::placeholder {
        color: #ccc;
    }

    .block__form_name {
        position: relative;
        color: #787878;
        width: 40px;
        height: 16px;
        top:-20px;
        margin: 0;
        left: 50px;
        font-size: 16px;
    }

    .block__form_name_2 {
        position: relative;
        color: #787878;
        width: 40px;
        height: 16px;
       left: 50px;
        top: 0;
        margin: 0;

        font-size: 16px;
    }
    .block_1 > input {
        position: relative;
        right: 70px;
        top: 35px;
      display: inline-flex;

    }
    .checkbox {
        position: relative;
        width: 24px;
        height: 24px;
       display: inline-flex;
    }

    .checkbox_name {
        position: relative;
        font-size: 14px;
        width: 300px;
        color: #787878;
        top: 30px;
        right: 70px;
        }

    .block__button {
        position: relative;
        background: darkblue;
        color: white;
        width: 180px;
        height: 52px;
        top: 30px;
        border-radius: 10px;
        font-size: 24px;

    }

@media screen and (max-width: 768px) {

    .block {
        position: static;
        background: #ffffff;
        color: #787878;
        margin:0vw;
        font-size: 7.81vw;
        width: 94.79vw;
        height: 90.76vw;
        top: 2.60vw;
        left: 2.60vw;
        border-radius: 20px;
        text-align: center;
        }

    .block__form_input {
        font-size: 3.65vw;
        position: absolute;
        float: left;
        width: 83.07vw;
        height: 6.38vw;
        left: 8.46vw;
        top: 16.28vw;
        background: #ffffff;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;

    }

    .block__form_input_2 {
        font-size: 3.65vw;
        position: absolute;
        width: 83.07vw;
        height: 6.38vw;
        left: 8.46vw;
        top: 27.47vw;
        background: #ffffff;
        border: 2px solid #787878;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .block__form_input::placeholder {
        color: #ccc;
    }

    .block__form_input_2::placeholder {
        color: #ccc;
    }

    .block__form_name {
        position: absolute;
        color: #787878;
        width: 7.81vw;
        height: 2.08vw;
        top: 13.37vw;
        left: 9.77vw;
        font-size: 2.08vw;
    }

    .block__form_name_2 {
        position: absolute;
        color: #787878;
        width: 7.81vw;
        height: 2.08vw;
        top: 24.44vw;
        left: 9.77vw;
        font-size: 2.08vw;
    }
    .block_1 > input {
        position: absolute;
        right: 80vw;
        top: 37.5vw;
        display: inline-flex;

    }
    .checkbox {
        position: absolute;
        width: 3.13vw;
        height: 3.13vw;
        right: 62.50vw;
        top: 50vw;

    }

    .checkbox_name {
        position: absolute;
        font-size: 1.82vw;
        width: 39.06vw;
        color: #787878;
        top:39vw;
        right: 45.11vw;
    }

    .block__button {
        position: absolute;
        background: darkblue;
        color: white;
        width: 28.65vw;
        height: 10.42vw;
        border-radius: 10px;
        left: 37%;
        top: 54.17vw;
        font-size:3.13vw;
        line-height: 16px;
    }


}