html {
	background-color: #1B2473;
	font-family: Roboto;
}

.form {
	position: relative;
	max-width: 600px;
	min-width: 350px;
	height: auto;
	background: #FFFFFF;
	box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin: 82px auto;
	padding-bottom: 12px;
}

.form__header {
	font-weight: bold;
	font-size: 50px;
	line-height: 100%;
	color: #787878;
	text-align: center;
	padding: 26px;
	margin: 0;
}

.form__input-label {
	display: block;
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	color: #787878;
	margin: 12px 0 3px 53px;
}

.form__input {
	width: 85%;
	height: 49px;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 10px;
	outline: none;
	margin: 0 45px;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 129%;
	padding-left: 15px;
	color: #787878;
}

.form__warning {
	padding-left: 46px;
	font-size: 10px;
	line-height: 16px;
	color: #CB2424;
	font-weight: 500;
}

.form__block-email {
	position: relative;
	color: #787878;
}

.form__block-email::before {
	content: '*';
	position: absolute;
	top: 18px;
	left: 35px;
}

.form__block-password {
	position: relative;
	color: #787878
}

.form__block-password::before {
	content: '*';
	position: absolute;
	top: 18px;
	left: 35px;
}

.form__input::placeholder {
	color: #ccc;
}

.form__checkbox-wrapper {
	position: relative;
	left: 45px;
	width: fit-content;
	display: flex;
	margin-top: 16px;
	color: #787878;
}

.form__checkbox-wrapper::before {
	content: '*';
	position: absolute;
	top: 0;
	left: -9px;
}

.form__checkbox {
	position: absolute;
	opacity: 0;
	width: 28%;
	height: 100%;
	top: 0;
	left: 0;
}

.form__checkbox-mark {
	width: 24px;
	height: 24px;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 7px;
}

.form__checkbox:checked + .form__checkbox-mark::after {
	content: "✓";
	color: #787878;
	margin-left: 4px;
}

.form__checkbox-label {
	font-size: 14px;
	color: #787878;
	margin-left: 8px;
	padding: 4px 0;
}

.form__button {
	display: block;
	padding: 18px;
	background: #1A226B;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 24px;
	line-height: 67%;
	color: white;
	cursor: pointer;
	margin: 26px auto;
}

.form__checkbox-link {
	color: #787878;
}
.error {
	border: 2px solid #CB2424;
}

.error-label {
	color: #CB2424;
}