body {
    background: aqua;
    display: flex;
    justify-content: center;
}
.head__adress {
    position: static;
    color:white;
    background: blue;
    font-size: 40px;
    text-align: center;
    width: 100vw;
}
.head__name {
    style:="font-size: 20px";
    color: darkblue;
    width: 20%;
    padding: 1%;
}
.head__links {

    font-size: 20px;
    color:white;
    margin: 20px;
    border-style: groove;
    width: 50 px;
    max-width: 60px;
    background: yellow;
}
.block {
    position: absolute;
    top: 80px;
    border-style: groove ;

}
.block__name {
    position: static;
    height: 50px;
    font-size: 30px;
    color: white;
    background: #a12d2d;
    margin: 5px;
    width:50vw;
    border-style: groove;
    text-align: center;

}
.block__block-sticky {
    position: sticky;
    background: #337d20;
    color: aqua;
    font-size: 50px;
    top: 10px;
    text-align: center;
    border-style: groove;

}
