* {
    padding:0;
    margin: 0;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

}

.card {

    border-style: groove;
    border-color: #0b1a66;
    background-color: aqua;
    max-width: 200px;

    margin: 20px;
    text-align: center;
}
img {
    width: 150px;
    height: 150px;
}
h1  {
    color: #0b1a66;
    font-size: 15px;
}

p {
    padding: 10px;
    font-size: 20px;
    color: #0b1a66;
}
.price {
    color: #0b1a66;
    font-size:20px;
}
.card button {
    padding: 5px;
    color: #fff;
    background-color: darkblue;
}
